<footer>
    <div class="px-2 flex flex-row bg-slate-50">
        <div class="flex flex-col items-center sm:flex-row flex-wrap justify-between border-t border-primary w-full max-w-3xl mx-auto">
            <div class="w-20">
                <img src="./assets/images/logo.svg" alt="logo">
            </div>
            
            <ul class="flex flex-row items-center text-primary">
                <li class="mx-3"><a href="./index.html">Inicio</a></li>
                <li class="mx-3"><a href="./participants.html">Participantes</a></li>
                <li class="mx-3"><a href="./index.html">Noticias</a></li>
                <li class="mx-3"><a href="#">Inscripción</a></li>
            </ul>
            
            <ul class="flex flex-row items-center my-4 sm:mb-0">
                <li class="mx-2 hover:scale-150 transition duration-500 ease-in-out"><a href="#"><img src="./assets/icons-main/icons/facebook.svg" alt="facebook"></a></li>
                <li class="mx-2 hover:scale-150 transition duration-500 ease-in-out"><a href="#"><img src="./assets/icons-main/icons/twitter-x.svg" alt="twitter"></a></li>
                <li class="mx-2 hover:scale-150 transition duration-500 ease-in-out"><a href="#"><img src="./assets/icons-main/icons/google.svg" alt="google"></a></li>
            </ul>
        </div>
    </div>
    <div class="bg-color_uoc p-8">
        <div class="w-full text-base font-semibold text-white leading-4 flex flex-col md:flex-row">
            <div class="max-w-136 mr-4 mb-4">
                <img class="aspect-[3.8722/1]" src="./assets/images/logo_uoc.jpg" alt="UOC">
            </div>
            <p>This wireframe has been created exclusively for its use within the “HTML and CSS Tools II” course at the UOC&apos;s Master Program in Website and WebApp Development. Its reproduction and other uses are not authorized.<br> &copy; <time datetime="2021-03">March 2021</time> - Jordi Tarrida Checa and Universitat Oberta de Catalunya.</p>
        </div>
    </div>
</footer>