<header class="w-full bg-primary px-2">
    <div class="flex flex-row max-w-screen-xl justify-between mx-auto">
        <div class="w-auto h-20">
            <a href="./index.html">
                <img class="h-full" src="./assets/images/logo.svg" alt="Logo">
            </a>
        </div>
        <ul class="flex flex-row items-center font-semibold text-base text-white">
            <li class="mx-3 hover:text-gray-700 transition duration-500 ease-in-out"><a href="./participants.html">Participantes</a></li>
            <li class="mx-3 hover:text-gray-700 transition duration-500 ease-in-out"><a href="./index.html">Noticias</a></li>
            <li class="mx-3 hover:text-gray-700 transition duration-500 ease-in-out"><a href="#">Inscripción</a></li>
        </ul>
    </div>
</header>